/* *{
    padding: 0px;
    margin: 0px;
} */
body
{
    padding: 0px;
    margin: 0px;
    position: fixed; 
    padding: 0px;
    /* width: 100% */
}


    
    /* Main Screen  */

#lift{
    position: relative;
    z-index: 1;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: 100vw;
    height: 100vh;
    background-color: rgb(92 92 92);
}

#centerLine{
    width: 1px;
    height: 100vh;
    position: absolute;
    left: 15%;
    background-color: #fff;
}

#LiftHolder{
    position: absolute;
    left: 0;
    bottom: 0vh;
    transition: 2s cubic-bezier(1,1,1,1);
}
#closeDoorLift{
    display: block;
    position: relative;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.25s linear;
}
#openDoorLift{
    display: none;
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.25s linear;
}
img{
    width: 20vh;
}
#wallKeys{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 22vh;
    height: 100vh;
    width: 20px;
}
.wallKey{
    position: relative;
    height: 25%;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 1px;
    background-color: rgb(255, 255, 255);
}

.btn{
    font-size: 2.5vh;
    height: 6vh;
    width: 7vh;
    position: absolute;
    top: 48%;
    left: 26px;
    background-color: rgb(245, 240, 240);
    
}

.btn-down{
    font-size: 2.5vh;
    height: 6vh;
    width: 8vh;
    position: absolute;
    top: 48%;
    left: 90px;
    background-color: rgb(245, 240, 240);
}

#groundFD{
    position: absolute;
    left: 0;
    bottom: 0vh;
    border: 1px solid white;
    width: 22vh;
}
#firstFD{
    position: absolute;
    left: 0;
    bottom: 25vh;
    border: 1px solid white;
    width: 22vh;
}
#secondFD{
    position: absolute;
    left: 0;
    bottom: 50vh;
    border: 1px solid white;
    width: 22vh;
}
#thirdFD{
    position: absolute;
    left: 0;
    bottom: 75vh;
    border: 1px solid white;
    width: 22vh;
}